.border {
    border-color: #222;
    border-style: solid;
    border-width: 3px 3px 3px;
    display: block;

}
.frontimage {
    margin: auto;
    width: 100%;
    height: 500px;
    display: block;
    border: 2px solid black;
    border-radius: 20px;
}
.heading-center {
    color:white;
    text-align:center !important;
    font:italic;
    align-content: center;
}

.hithere {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.entry{

}
body{
    background-color: black
}
.writeing{
    color: white;
    font: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.heading {
    color:white;
    font:italic;
}
   .update-image{
    width: 400px;
    height: 300px;
} 